fastapi
uvicorn
streamlit
requests

langchain
langgraph
langchain-community
langchain-core
langchain-groq
langchain-chroma

chromadb

sentence-transformers
huggingface-hub

pydantic
python-dotenv

tiktoken

python-multipart